.Parte1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: lato, sans-serif;
    height: 937px;
    justify-content: center;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    text-size-adjust=100%;
    width:1349px;
-webkit-box-align: center;
-webkit-box-pack: center;
-webkit-font-smoothing: antialiased"
}

.Div1 {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: lato, sans-serif;
    justify-content: center;
    margin-bottom: 50px;
    -moz-text-size-adjust: 100%;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;
}

.NomeGrande {
    Display: flex;
    font-family: lato, sans-serif;
    font-size: 32px;
    font-weight:300;

}

.DivIMG {
    display: flex;
    position: relative;
    padding-bottom: 200px;
    -moz-text-size-adjust: 100%;
    width: 200px;
    -webkit-font-smoothing: antialiased;
}
.IMG {
    display: block;
    font-family: lato,sans-serif;
    height: 200px;
    position: absolute;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%
    text-size-adjust: 100%;
    transition-delay: 0.5s;
    width: 200px;
    -webkit-font-smoothing:antialiased;

}

h1 {
    color: rgb(41,51,71);
    font-family: lato, sans-serif;
    font-size: 40px;
    font-weight: 700;
}
h3 {
   display: block;
   font-family: lato, sans-serif;
   font-size: 20.8px;
   font-weight: 400;
}



.Parte2 {
    background-color: #f76f8e;
     align-items: center;
     display: inline-flex;
     flex-direction: column;
     font-family: lato, sans-serif;
     justify-content: center;
     padding-bottom: 224px;
     padding-left: 0px;
     padding-right: 0px;
     padding-top: 224px;
     -moz-text-size-adjust: 100%;
     -webkit-box-align: center;
     -webkit-box-pack:center;
     -webkit-font-smoothing: antialiased;
}

h2 {
    color: rgb(255,255,255);
    display: block;
    font-family: lato, sans-serif;
    font-size: 32px;font-weight: 500;
    height: 37px;
    margin-block-end: 26.56px;
    margin-block-start: 26.56px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: center;
    -moz-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;"
}

h4 {
    color: rgb(255,255,255);
    display: block;
    font-family: lato, sans-serif;
    font-size: 20.8px;
    font-weight: 300;
    height: 120px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    margin-bottom: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 224px;
    padding-right: 224px;
    padding-top: 0px;
    text-align: center;
    -moz-text-size-adjust: 100%;
    width: 900px;
    -webkit-font-smoothing: antialiased;
}

body {
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    background: rgb(255,255,255);
    font-family: 'Montserrat', sans-serif; }

.Main{
    display: block;
    font-family: lato,sans-serif;
   /* height: 4061.73px;*/
    text-size-adjust: 100%;
    /*width: 236.667px;*/
    -webkit-font-smoothing: antialiased;

}
.Parte3 {
    align-items: center;
    display: flex;
    font-family: lato,sans-serif;
    height: 2218.83px;
    justify-content: center;
    margin-top: -192px;
    padding-bottom: 80px;
    text-size-adjust: 100%;
    width: 419.333px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-font-smoothing:antialiased;

}

.bloco {
    background: white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: flex;
    font-family: lato,sans-serif;
    height: 2068.83px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    max-width: 1200px;
    text-size-adjust: 100%;
    width: 369.333px;
    -webkit-font-smoothing:antialiased;
}

.Sub-bloco1 {
    
    align-items: center;
    flex-direction: column;
    font-family: lato,sans-serif;
    height: 667.833px;
    justify-content:center ;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:50px ;
    text-size-adjust: 100%;
    width: 309.333px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-font-smoothing:antialiased;
}

.figura1 {

    display: block;
    font-family: lato,sans-serif;
    /*height: 50px;*/
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-size-adjust: 100%;
    /*width: 50px;*/
    -webkit-font-smoothing:antialiased;
}

/*.Sub-figura1 {
    display: block;
    font-family: lato,sans-serif;
    height: 0px;
    padding-bottom: 50px;
    text-size-adjust: 100%;
    width: 50px;
    -webkit-font-smoothing:antialiased;*/
}

.aria1 {
    display: block;
    font-family: lato,sans-serif;
    height: 0px;
    padding-bottom: 50px;
    text-size-adjust: 100%;
    width: 50px;
    -webkit-font-smoothing: antialiased;
}

.Img2 {
    display: block;
    font-family: lato,sans-serif;
    height: 50px;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0;
    position: absolute;
    text-size-adjust: 100%;
    top:0px;
    transition-delay: 0.5s;
    width: 50px;
    -webkit-font-smoothing:antialiased;

}

.Picture1{
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing:antialiased;

}

.img2.1 {
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing:antialiased;
}

.Size1 {
    display: block;
    font-family: lato,sans-serif;
    height: 50px;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 1;
    position:absolute;
    text-size-adjust: 100%;
    top:0px;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
    width:50px;
    -webkit-font-smoothing:antialiased;

}

.Titulo1 {
    display: block;
    font-family: lato,sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 28px;
    margin-block-end: 24px;
    margin-block-start: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-size-adjust: 100%;
    width: 114.635px;
    -webkit-font-smoothing:antialiased;    
}

.Descrição1 {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 77.333px;
    margin-block-end: 30px;
    margin-block-start: 0px;
    margin-bottom: 30px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 309.333px;
    -webkit-font-smoothing:antialiased;
}

.texto1 {
    color: rgb(247,111,142);
    display: block;
    font-family: lato,sans-serif;
    font-size: 20.8px;
    font-weight: 500;
    height: 24px;
    margin-block-end: 20.8px;
    margin-block-start: 20.8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 222.052px;
    -webkit-font-smoothing:antialiased;
}


.Linguagens {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 38.6667px;
    margin-block-end: 30px;
    margin-block-start: 0px;
    margin-bottom:30px ;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 309.333px;
    -webkit-font-smoothing: antialiased;
}

.DevTools {
    color: rgb(247,111,142);
    display: block;
    font-family: lato,sans-serif;
    font-size: 20.8px;
    font-weight: 500;
    height: 24px;
    margin-block-end: 20.8px;
    margin-block-start: 20.8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 85.5521px;
    -webkit-font-smoothing: antialiased;
}

.Git {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 61.4167px;
    -webkit-font-smoothing: antialiased;
}

.Github {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 67.0938px;
    -webkit-font-smoothing: antialiased;
}

.Bootstrap {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 75.6042px;
    -webkit-font-smoothing: antialiased;
}

.Sub-bloco2 {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: lato,sans-serif;
    height: 648.5px;
    justify-content: center;
    padding-bottom:50px; 
    padding-left:30px;
    padding-right:30px ;
    padding-top:50px ;
    text-size-adjust: 100%;
    width: 309.333px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;

}

.figura2 {
    display: block;
    font-family: lato,sans-serif;
    height: 50px;
    overflow-x:hidden ;
    overflow-y: hidden;
    position: relative;
    text-size-adjust: 100%;
    width: 50px;
    -webkit-font-smoothing: antialiased;
}

.aria2 {
    display: block;
    font-family: lato,sans-serif;
    height: 0px;
    padding-bottom: 50px;
    text-size-adjust: 100%;
    width: 50px;
    -webkit-font-smoothing: antialiased;
}

.Sub-figura2 {

    display: block;
    font-family: lato,sans-serif;
    height: 50px;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0;
    position: absolute;
    text-size-adjust: 100%;
    top: 0px;
    transition-delay: 0.5s;
    width: 50px;
    -webkit-font-smoothing:antialiased;
}

.Picture2{
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing:antialiased;
}

.Source2 {
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing:antialiased;
}

.Size2 {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100px;
    object-fit:cover;
    object-position: center center;
    opacity: 1; 
    transition: opacity 500ms easy 0s;
}

.Infra{
    display: block;
    font-family: lato,sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 28px;
    margin-block-end: 24px;
    margin-block-start: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-size-adjust: 100%;
    width: 110.698px;
    -webkit-font-smoothing:antialiased;  
}

.Descrição2{
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 77.333px;
    margin-block-end: 30px;
    margin-block-start: 0px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 309.333px;
    -webkit-font-smoothing:antialiased;  
}
.Linguagem2 {
    color: rgb(247,111,142);
    display: block;
    font-family: lato,sans-serif;
    font-size: 20.8px;
    font-weight: 500;
    height: 24px;
    margin-block-end: 20.8px;
    margin-block-start: 20.8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 222.052px;
    -webkit-font-smoothing:antialiased;
}

.Resumo2 {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 30px;
    margin-block-start: 0px;
    margin-inline-end: 30px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 279.365px;
    -webkit-font-smoothing: antialiased;
}
.InfraTool {
    color: rgb(247,111,142);
    display: block;
    font-family: lato,sans-serif;
    font-size: 20.8px;
    font-weight: 500;
    height: 24px;
    margin-block-end: 20.8px;
    margin-block-start: 20.8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 85.5521px;
    -webkit-font-smoothing: antialiased;
}

.AD{
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.319.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-inline-end: 10px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    /*width: 64.4167px;*/
    -webkit-font-smoothing: antialiased;
}

.Server {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-inline-end: 10px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    /*width: 69.0938px;*/
    -webkit-font-smoothing: antialiased;
}

.PC {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height:52.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-inline-end: 10px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
   /* width: 80.6042px;*/
    -webkit-font-smoothing: antialiased;
}

.Impressora {

    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 50.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-inline-end: 10px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
   /* width: 87.2604px;*/
    -webkit-font-smoothing: antialiased;
}

.Exchange{
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 35.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-inline-end: 10px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
   /* width: 69.1875px;*/
    -webkit-font-smoothing: antialiased;

}

.VPN{
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-inline-end: 10px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    /*width: 69.7292pxx;*/
    -webkit-font-smoothing: antialiased;
}

.Sub-bloco3 {
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: lato,sans-serif;
    height: 550.5px;
    justify-content: center;
    padding-bottom:50px; 
    padding-left:30px;
    padding-right:30px ;
    padding-top:50px ;
    text-size-adjust: 100%;
    width: 309.333px;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-font-smoothing: antialiased;
}

.figura3{
    display: block;
    font-family: lato,sans-serif;
    height: 50px;
    overflow-x:hidden ;
    overflow-y: hidden;
    position: relative;
    text-size-adjust: 100%;
    width: 50px;
    -webkit-font-smoothing: antialiased;
}

.aria3 {
    display: block;
    font-family: lato,sans-serif;
    height: 0px;
    padding-bottom: 50px;
    text-size-adjust: 100%;
    width: 50px;
    -webkit-font-smoothing: antialiased;
}

.Sub-figura3{
    display: block;
    font-family: lato,sans-serif;
    height: 50px;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0;
    position: absolute;
    text-size-adjust: 100%;
    top: 0px;
    transition-delay: 0.5s;
    width: 50px;
    -webkit-font-smoothing:antialiased;
}

.Picture3{
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing:antialiased;
}

.Source3 {
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing:antialiased;
}

.imagemtamanho3 {
    position: absolute; 
    top: 0px; 
    left: 0px;
    width: 100%; 
    height: 100%;
    object-fit: cover;
    object-position: center center; 
    opacity: 1; 
    transition: opacity 500ms ease 0s;
}

.Sistemas {
    display: block;
    font-family: lato,sans-serif;
    font-size: 24px;
    font-weight: 700;
    height: 28px;
    margin-block-end: 24px;
    margin-block-start: 24px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-size-adjust: 100%;
    width: 166.719px;
    -webkit-font-smoothing:antialiased;  
}

.Descrição3 {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 77.333px;
    margin-block-end: 30px;
    margin-block-start: 0px;
    margin-bottom: 30px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 309.333px;
    -webkit-font-smoothing:antialiased;
}

.Linguagem3 {
    color: rgb(247,111,142);
    display: block;
    font-family: lato,sans-serif;
    font-size: 20.8px;
    font-weight: 500;
    height: 24px;
    margin-block-end: 20.8px;
    margin-block-start: 20.8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 222.052px;
    -webkit-font-smoothing:antialiased;

}

.Resumo3 {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 38.6667px;
    margin-block-end: 30px;
    margin-block-start: 0px;
    margin-inline-end: 30px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 279.365px;
    -webkit-font-smoothing: antialiased;

}

.SisTools {
    color: rgb(247,111,142);
    display: block;
    font-family: lato,sans-serif;
    font-size: 20.8px;
    font-weight: 500;
    height: 24px;
    margin-block-end: 20.8px;
    margin-block-start: 20.8px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 85.5521px;
    -webkit-font-smoothing: antialiased;
}

.SAP {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 44.0938px;
    -webkit-font-smoothing: antialiased; 
}
.SQL{
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 103.969px;
    -webkit-font-smoothing: antialiased; 
}
.SQLME{
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 67.1042px;
    -webkit-font-smoothing: antialiased; 
}
.DTW {
    display: block;
    font-family: lato,sans-serif;
    font-size: 17px;
    font-weight: 300;
    height: 19.3333px;
    margin-block-end: 10px;
    margin-block-start: 0px;
    margin-bottom: 10px;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-size-adjust: 100%;
    width: 191.813px;
    -webkit-font-smoothing: antialiased; 
}

.FinalSection {
    display: block;
    font-family: lato,sans-serif;
    height: 0px;
    text-size-adjust: 100%;
    width: 747.333px;
    -webkit-font-smoothing: antialiased; 

}

.Footer1 {
    align-items: center;
    color: rgb(255,255,255);
    display: flex;
    flex-direction: column;
    font-family: lato,sans-serif;
    height: 59.6667px;
    justify-content: center;
    padding-bottom: 48px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 48px;
    text-size-adjust: 100%;
    width: 747.333px;
    -webkit-box-align: center;
    -webkit-box-pack:center ;
    -webkit-font-smoothing: antialiased; 

}

.Final2 {
    color: rgb(255,255,255);
    display: flex;
    font-family: lato,sans-serif;
    height: 18.6667px;
    text-size-adjust: 100%;
    width: 196.229px;
    -webkit-font-smoothing: antialiased; 

}
.Gatsby{
    color: rgb(255,255,255);
    cursor: pointer;
    display: block;
    font-family: Lato,sans-serif;
    height: 18.6667px;
    margin-left: 3px;
    text-decoration-color: rgb(255,255,255);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    width: 50.6875px;
    -webkit-font-smoothing: antialiased; 

}

.Final3{
    color: rgb(255,255,255);
    display: flex;
    font-family: lato,sans-serif;
    height: 41px;
    text-size-adjust: 100%;
    width: 123px;
    -webkit-font-smoothing: antialiased; 

}

.Link1 {
    color: rgb(85,26,238);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 41px;
    text-decoration-color: rgb(0,0,238);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    width: 41px;
    -webkit-font-smoothing: antialiased; 

}

.Div-1{
    color: rgb(85,26,139);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 25px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-size-adjust: 100%;
    width: 25px;
    -webkit-font-smoothing: antialiased; 

}

.Div-1.1 {
    color: rgb(85,26,139);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 0px;
    padding-bottom:25px;
    text-size-adjust:100%;
    width:25px;
    -webkit-font-smoothing: antialiased; 

}

.Div-img {
    color: rgb(85,26,139);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 25px;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0;
    position: absolute;
    text-size-adjust: 100%;
    top: 0px;
    transition-delay: 0.5s;
    width: 25px;
    -webkit-font-smoothing: antialiased; 

}

.Pic1{
    color: rgb(85,26,139);
    cursor: pointer;
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing: antialiased; 

}

.SourceFinal1{
    color: rgb(85,26,139);
    cursor: pointer;
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing: antialiased; 
}

.ImgFinal1{
    color: rgb(85,26,139);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 25px;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 1;
    position:absolute;
    text-size-adjust: 100%;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
    width: 25px;
    -webkit-font-smoothing: antialiased; 


}

.Link2{
    color: rgb(85,26,238);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 41px;
    text-decoration-color: rgb(0,0,238);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-size-adjust: 100%;
    width: 41px;
    -webkit-font-smoothing: antialiased; 
}

.Div-2{
    color: rgb(85,26,139);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 25px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    text-size-adjust: 100%;
    width: 25px;
    -webkit-font-smoothing: antialiased; 
}

.Div-2.2{
    color: rgb(85,26,139);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 0px;
    padding-bottom:25px;
    text-size-adjust:100%;
    width:25px;
    -webkit-font-smoothing: antialiased; 
}

.Div-img{
    color: rgb(85,26,139);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 25px;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 0;
    position: absolute;
    text-size-adjust: 100%;
    top: 0px;
    transition-delay: 0.5s;
    width: 25px;
    -webkit-font-smoothing: antialiased; 
}

.Pic2 {
    color: rgb(85,26,139);
    cursor: pointer;
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing: antialiased; 
}

.SourceFinal2{
    color: rgb(85,26,139);
    cursor: pointer;
    display: inline;
    font-family: lato,sans-serif;
    height: auto;
    text-size-adjust: 100%;
    width: auto;
    -webkit-font-smoothing: antialiased; 
}

.ImgFinal2 {
    color: rgb(85,26,139);
    cursor: pointer;
    display: block;
    font-family: lato,sans-serif;
    height: 25px;
    left: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 1;
    position:absolute;
    text-size-adjust: 100%;
    top: 0px;
    transition-delay: 0s;
    transition-duration: 0.5s;
    transition-property: opacity;
    transition-timing-function: ease;
    width: 25px;
    -webkit-font-smoothing: antialiased; 
}

